.up-btn {
  @media screen and (min-width: 1200px) {
    position: fixed;
    right: 50px;
    bottom: 90px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 5;
    background-color: #000;
    background-image: url('../img/sprites/sprite.svg#icon-arr-top');
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s;
  }
}
