header.header.js-header(class=pageClass)
	.header__inner
		.header__top
			a(href="#").header__top-logo GN Design
			a(href="#").header__top-phone 8 (911) 987 47 77

			.header__burger.js-burger
				.header__burger-bar
				.header__burger-bar
				.header__burger-bar

		.header__controls
			nav.header__nav
				ul.header__nav-ul

					if error
						li.header__nav-li
							a(href="#").header__nav-link Портфолио 
						li.header__nav-li
							a(href="#").header__nav-link Контакты
					else
						li.header__nav-li
							a(href="#" data-anchor="#portfolio").header__nav-link.js-anchor Портфолио 
						li.header__nav-li
							a(href="#" data-anchor="#contacts").header__nav-link.js-anchor Контакты

			.header__social
				ul.social
					li.social__item
						a(href="#").social__item-link Instagram Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-inst")
					li.social__item
						a(href="#").social__item-link Telegram Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-tg")
					li.social__item
						a(href="#").social__item-link WhatsApp Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-wa")

			a(href="tel:8 (911) 987 47 77").header__phone 8 (911) 987 47 77

			a(href="mailto:info@gndesign.ru").header__email info@gndesign.ru


