.p-slider.js-p-slider.swiper
	.p-slider__next
	.swiper-wrapper
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_1.webp 1x, img/slide_1.webp 2x")
					img(src="img/slide_1.jpg" srcset="img/slide_1.jpg 1x, img/slide_1.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_2.webp 1x, img/slide_2.webp 2x")
					img(src="img/slide_2.jpg" srcset="img/slide_2.jpg 1x, img/slide_2.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Москва </br>Квесисская
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_3.webp 1x, img/slide_3.webp 2x")
					img(src="img/slide_3.jpg" srcset="img/slide_3.jpg 1x, img/slide_3.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва

		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_1.webp 1x, img/slide_1.webp 2x")
					img(src="img/slide_1.jpg" srcset="img/slide_1.jpg 1x, img/slide_1.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_2.webp 1x, img/slide_2.webp 2x")
					img(src="img/slide_2.jpg" srcset="img/slide_2.jpg 1x, img/slide_2.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Москва </br>Квесисская
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_3.webp 1x, img/slide_3.webp 2x")
					img(src="img/slide_3.jpg" srcset="img/slide_3.jpg 1x, img/slide_3.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_1.webp 1x, img/slide_1.webp 2x")
					img(src="img/slide_1.jpg" srcset="img/slide_1.jpg 1x, img/slide_1.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_2.webp 1x, img/slide_2.webp 2x")
					img(src="img/slide_2.jpg" srcset="img/slide_2.jpg 1x, img/slide_2.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Москва </br>Квесисская
					p.preview-card__note Москва
		.p-slider__item.swiper-slide
			.preview-card
				a(href="#").preview-card__link
				picture.preview-card__pic
					source(type="image/webp" srcset="img/slide_3.webp 1x, img/slide_3.webp 2x")
					img(src="img/slide_3.jpg" srcset="img/slide_3.jpg 1x, img/slide_3.jpg 2x" alt="" title="" loading="lazy").preview-card__pic-img
				.preview-card__content
					h3.preview-card__title Квартира </br>Артемия Панарина
					p.preview-card__note Москва

	if pageClass
		.p-slider__more
			button.btn.js-load-more Загрузить еще