extends ../layouts/default

block variables
  - const title = "Main Page";
  - const error = "true";
  - const pageClass = "_main";

block content
  include ../../blocks/modules/header/header

  main
    section.welcome
      picture.welcome__bg
        source(type="image/webp" srcset="img/err-bg.webp 1x, img/err-bg.webp 2x")
        img(src="img/err-bg.jpg" srcset="img/err-bg.jpg 1x, img/err-bg.jpg 2x" alt="" title="" loading="lazy").welcome__bg-img
      .welcome__inner
        .welcome__content
          .welcome__err
            h1.welcome__err-title Такой страницы нет
            p.welcome__err-num 404
        .welcome__nav
          a(href="#").welcome__nav-item
            h2.welcome__nav-title Портфолио
          a(href="#").welcome__nav-item
            h2.welcome__nav-title Контакты

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")
