extends ../layouts/default

block variables
	- const title = "Main Page";
	- const pageClass = "_main";

block content
	include ../../blocks/modules/header/header

	main
		section.welcome
			picture.welcome__bg
				source(type="image/webp" srcset="img/welcome_main_bg.webp 1x, img/welcome_main_bg.webp 2x")
				img(src="img/welcome_main_bg.jpg" srcset="img/welcome_main_bg.jpg 1x, img/welcome_main_bg.jpg 2x" alt="" title="" loading="lazy").welcome__bg-img
			.welcome__inner
				.welcome__content._mobile-hidden
					p.welcome__text Разрабатываю дизайн современных стильных помещений и домов.
					p.welcome__text Полный дизайн-проект, авторский надзор, проработка индивидуальных элементов.
				.welcome__nav
					a(href="#" data-anchor="#portfolio").welcome__nav-item.js-anchor
						h2.welcome__nav-title Портфолио
						p.welcome__nav-note Наши работы
					a(href="#" data-anchor="#contacts").welcome__nav-item.js-anchor
						h2.welcome__nav-title Контакты
						p.welcome__nav-note Связаться с нами

		section.section#portfolio
			h2.section__title Портфолио
			.section__content
				include ../../blocks/modules/p-slider/p-slider

		section.contacts#contacts
			.contacts__inner
				h2.contacts__title Наши контакты
				.contacts__data
					.contacts__data-line
						a(href="tel:8 (911) 987 47 77").contacts__data-link 8 (911) 987 47 77
					.contacts__data-line
						a(href="mailto:info@gndesign.ru").contacts__data-link info@gndesign.ru
					.contacts__data-line
						p.contacts__data-text Санкт-Петербург, ул. Крапоткина, 1
					.contacts__data-line
						ul.social
							li.social__item
								a(href="#").social__item-link
									svg.social__item-svg
										use(xlink:href="img/sprites/sprite.svg#icon-inst")
							li.social__item
								a(href="#").social__item-link
									svg.social__item-svg
										use(xlink:href="img/sprites/sprite.svg#icon-tg")
							li.social__item
								a(href="#").social__item-link
									svg.social__item-svg
										use(xlink:href="img/sprites/sprite.svg#icon-wa")

	include ../../blocks/modules/footer/footer
	include ../../blocks/modules/up-btn/up-btn

block scripts
	script(defer src="js/vendor.js")
	script(defer src="js/main.js")