extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header
	main
		.pages
			a(href="https://dima1501.github.io/gn_design/dist/main.html").pages__link Главная
			a(href="https://dima1501.github.io/gn_design/dist/detail.html").pages__link Детальная
			a(href="https://dima1501.github.io/gn_design/dist/404.html").pages__link 404

	include ../blocks/modules/footer/footer

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")