footer.footer
	.footer__inner
		.footer__col
			.footer__item 2022 © GNdesign
		.footer__col
			a(href="tel:8 (911) 987 47 77").footer__phone 8 (911) 987 47 77
			.footer__soc
				ul.social
					li.social__item
						a(href="#").social__item-link Instagram Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-inst")
					li.social__item
						a(href="#").social__item-link Telegram Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-tg")
					li.social__item
						a(href="#").social__item-link WhatsApp Social Link
							svg.social__item-svg
								use(xlink:href="img/sprites/sprite.svg#icon-wa")

		.footer__col
			.footer__item Разработано в 
				a(href="#") Indexis 

		.footer__col
			a(href="#").footer__item Политика конфиденциальности
